$---padding-lg: 24px !default;
$---padding: 18px !default;
$---padding-sm: 12px !default;
$---padding-xs: 8px !default;
$---padding-xxs: 4px !default;

$---aside-width: 200px;
$---aside-width-collapse: 64px;
$---aside-color: #fff;
$---aside-background: #191a23;
$---aside-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
$---aside-active-background: #409eff;
$---aside-hover-color: #409eff;
